<div class="bg-img1">
  <div class="container">
    <p>I Programmer</p>
    <span>将来はフルスタックエンジニアに</span>
  </div>
</div>
<div class="bg-img2">
  <div class="container">
    <p>My hobby sleep</p>
    <span>最近の睡眠時間3時間だけど寝るの好き</span>
  </div>
</div>
<div class="bg-img3">
  <div class="container">
    <p>I like cats</p>
    <span>ネコ一匹飼ってる</span>
  </div>
</div>
