<div class="bg-image">
  <div class="bg-mask">
    <div class="container text-center">
      <h1 class="display-3 py-3">Contact</h1>
      <p class="h6">ポートフォリオWebサイト、楽しんでいただけましたか？<br>
        このWebサイトについて私について、ただ挨拶するだけでも、
        なにかコメントありましたら下記のフォームをご利用ください
      </p>
    </div>
  </div>
</div>
