<div class="container bg-light mt-4">
  <div class="row align-items-center">
    <div class="col-6 text-center">
      <h4 class="mt-3">高専生エンジニア</h4>
      <h1 class="mt-3">96nekoR</h1>
      <p class="text-justify mt-4">
        プログラミング学習サイトを利用して勉強中。2016年と2017年のプログラミングコンテストに出場。
        気軽に<%= link_to "Twitter", "https://twitter.com/fps_seed" %>フォローしてください！
      </p>
    </div>
    <div class="col-6">
      <%= image_tag "neko.png", :class => "img-fluid" %>
    </div>
  </div>
  <p class="text-center mt-5">Made by 96nekoR</p>
</div>
