<div class="bg-img">
  <div class="bg-mask">
    <div class="container text-center py-4 my-auto">
      <h3 class="py-4 font-weight-bold">お問い合わせいただきありがとうございました。</h3>
      <%= link_to "HOMEへ", home_index_path, class:"btn btn-primary"%>
    </div>
  </div>
</div>
