/** contact.html **/
.bg-img{
  position: relative;
  height: 91.2vh;
  background: url("nature.png") center center;
  background-size: cover;
}

.bg-mask{
  height: 91.2vh;
  background: rgba(200,200,200,0.5);
}
/** end **/
