/** contact.html **/
.bg-image{
  position: relative;
  height: 100vh;
  background: url("nature.png") center center;
  background-size: cover;
}

.bg-mask{
  height: 100vh;
  background: rgba(255,255,255,0.5);
}
